{% extends 'base.html.twig' %}
{% block body %}
        <p>Voulez-vous vraiment vous désister de la sortie {{ sortie.nom }}?</p>
        {{ include('sortie/_form.html.twig', {'button_label': 'Se désister'}) }}
{% endblock %}