{% extends 'base.html.twig' %}
{% block body %}
    <section>
        {% for user in Users %}
        <article>
            <a href="{{ path('user_profile', {'id':user.id}) }}">{{ user.pseudo }}</a>
        </article>
        {% endfor %}
    </section>
{% endblock %}
